<!-- <p>
  Offers component works!
</p> -->
<div>
  <button mat-raised-button color="primary" (click)="printOnsiteSurvey()">Print</button>
</div>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal data
      </mat-panel-title>
      <mat-panel-description>
        Type your name and age
      </mat-panel-description>
    </mat-expansion-panel-header>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="First name" formControlName="firstName">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Age" formControlName="age">
      </mat-form-field>
    </form>
  </mat-expansion-panel>
</mat-accordion>
